@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@font-face {
  font-family: Montserrat BoldItalic;
  src: url(asset/Font/Montserrat-SemiBoldItalic.ttf);
}
@font-face {
  font-family: MontserratBold;
  src: url(asset/Font/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(asset/Font/Rubik-Regular.ttf);
}
p span{
  color:  #ecba16;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background-color: rgb(245, 245, 245);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "MontserratBold";
  position: fixed;
  width: 100%;
  z-index: 999;
  color: rgb(223, 217, 217);
  background-color: #181818;
  transition: 0.2s ease;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links li {
  list-style: none;
  padding: 5px;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}

.nav-links a {
  color: rgb(223, 217, 217);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 10ms ease;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(223, 217, 217);
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-active {
  transform: translateX(0%) !important;
  overflow: hidden;
}

.menu-burger .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-burger .line2 {
  opacity: 0;
}

.menu-burger .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links li:hover {
  border-bottom: 2px solid #ecba16;
}

.first_page:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  width: 50%;
  height: 100vh;
}

.left,
.right {
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-family: "Rubik";
}

.left h1 {
  font-size: 80px;
  left: -800px;
  position: relative;
}

.left h2 {
  font-size: 50px;
  opacity: 0.8;
  top: -500px;
  position: relative;
}

.left h3 {
  font-size: 30px;
  opacity: 0.7;
}

#section {
  height: 100%;
}
#section h1 {
  font-size: 50px;
  font-family: "Montserrat BoldItalic";
  text-align: center;
  color: #181818;
  top: 3%;
  position: relative;
  margin-bottom: 3%;
}
.border-anim {
  margin: auto;
  width: 90%;
  padding: 0, 10px;
  border-top: #181818 solid 5px;
  position: relative;
  left: -1800px;
  padding-top: 3%;
}
.quiJeSuisText {
  top: 15%;
  bottom: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  position: relative;
  font-family: "Montserrat BoldItalic";
  font-size: 35px;
  text-align: center;
  padding-bottom: 3%;
}

.flex {
  display: flex;
}

.flex .box {
  cursor: pointer;
  margin: auto;
}

.box img {
  height: 100px;
  width: 100px;
  margin-bottom: 30%;
}

.content {
  margin: auto;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #1d1d1d;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ecba16;
  top: 15px;
  border-radius: 50%;
  z-index: 5;
}

.destra {
  left: 0;
}

.sinistra {
  left: 50%;
}

.destra::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 5;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.sinistra::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 5;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.sinistra::after {
  left: -16px;
}

/* The actual content */
.contentt {
  padding: 20px 30px;
  background-color: #242424;
  color: white;
  font-family: 'MontserratBold';
  position: relative;
  border-radius: 6px;
}


.centre{
  display: flex;
  justify-content: center;
  position: relative;
}





@media screen and (max-width: 1024px) {
  .nav-links {
    width: 70%;
  }
  .left h1 {
    font-size: 50px !important;
  }
  .left h2 {
    font-size: 40px !important;
  }
  .left h3 {
    font-size: 15px !important;
  }
  .quiJeSuisText {
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    position: relative;
    font-family: "MontserratBold";
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    z-index: 999;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .col:nth-child(1) {
    width: 100% !important;
    position: relative;
    display: inline-block;
    font-family: "Rubik";
  }
  .col:nth-child(2) {
    display: none !important;
  }
  .quiJeSuisText {
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    font-family: "MontserratBold";
    font-size: 18px;
    text-align: center;
  }
  .flex{
    display: inline-block;
    width: auto;
  }
  .box {
    cursor: pointer;
    margin: auto !important;
  }
  .box img {
    height: 100% !important;
    width: 100% !important;
  }
  #section h1 {
    padding-bottom: 20px !important;
  }

  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .destra::after,
  .sinistra::after {
    left: 15px;
  }

  .sinistra {
    left: 0%;
  }
}



 @-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}





.flip-horizontal-fwd :hover {
	-webkit-animation: shadow-drop-2-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          opacity: 0.7;  
          z-index: 5;    
}


.button{
  border-radius: 40px ;
  background-color: #f5f5f5;
  color: #181818;
  border: #181818 solid 2px;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 15px;
  margin: 20px;
  margin-bottom: 30px;
  font-family: 'MontserratBold';
}
.button:hover{
  border-radius: 40px;
  border: #181818 solid 2px;
  background-color: #181818;
  color: #f5f5f5;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 15px;
  margin: 20px;
  margin-bottom: 30px;
  font-family: 'MontserratBold';
}


.contact{
  position: fixed;
  z-index: 100;

}
.close{
  left: 55px;
  bottom: 55px;
  position: fixed;
  height: 60px;
  width: 60px;
  background-color: #ecba16;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 
  
 
}
.buttonclick{
  background-color:#38454F;
  z-index: 900;
  left: 50px;
  bottom: 50px;
  position: fixed;
  border-radius: 50%;
}
.buttonclick i{
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center; 
  color: #ececec;
}

.icon{
  z-index: 500;
}

.open:nth-child(1){
  bottom: 150px;
  left: 50px;
  position: fixed;
  animation-name: animationContact1;
  animation-duration: 1s;
  color: #f5f5f5;
  text-decoration: none;
}
.open:nth-child(2){
  bottom: 150px ;
  left: 150px;
  position: fixed;
  animation-name: animationContact2;
  animation-duration: 1s;
  color: #f5f5f5;
  text-decoration: none;
}
.open:nth-child(3){
  bottom: 50px ;
  left: 150px;
  position: fixed;
  animation-name: animationContact3;
  animation-duration: 1s;
  color: #f5f5f5;
  text-decoration: none;
}

@keyframes animationContact1 {
  from {
    bottom: 50px;
    
  }
  to {
    
    bottom: 150px;
  }
}
@keyframes animationContact2 {
  from {
    bottom: 50px;
    left: 50px;
  }
  to {
    bottom: 150px;
    left: 150px;
    
  }
}
@keyframes animationContact3 {
  from {
    left: 50px;
    
  }
  to {
    left: 150px;
    
  }
}

footer{
  padding: 50px;
  background-color: #181818;
}
.pre_proje{
  margin-bottom: 100px;
}
.centre div{
  margin: 20px;
}

.dropbtn {
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: #181818;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding-top: 16px;
  background-color: #181818;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {
  display: block;
}













.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;

}
.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #181818;
  background-color: #f5f5f5;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #181818;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, 
  -webkit-transform .2s ease-in-out;
}


